
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@{
    List<int> ratings = new List<int>();
    foreach(var review in Model.Reviews)
    {
        ratings.Add(review.Rating);
    }
    double avg = Math.Round(ratings.Average());
}
@model GummiBearKingdom.Models.Product


<h2>@Model.Name</h2>
<h4>Product Details</h4>
<hr />

<h4>Description</h4>
<p>@Model.Description</p>
<h4>Price: @Model.Price</h4>
<h3>Average Rating: @avg</h3>
<h4>Reviews:</h4>


@foreach (var review in Model.Reviews)
{
    <div class="panel panel-info">
        <div class="panel-heading">
            <h5 class="review-name">@review.UserName</h5>
            <h5 class="review-rating">@review.Rating /5</h5>
            <div class="panel-body">
                <p>@review.Body</p>
            </div>
        </div>
    </div>

}
<a asp-action="Create" asp-controller="Reviews" asp-route-id="@Model.ProductId">Add Review</a>
<a class="btn btn-info" asp-action="Index" asp-route-id="@Model.ProductId">Back</a>

<a class="btn btn-info" asp-action="Edit" asp-route-id="@Model.ProductId">Edit</a>

<a class="btn btn-danger" asp-action="Delete" asp-route-id="@Model.ProductId">Delete</a>