@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<GummiBearKingdom.Models.Product>



<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        @{ int i = 0;}
        @foreach (var product in Model)
        {
            if (i == 0)
            {
            <li data-target="#myCarousel" data-slide-to="@i" class="active"></li>
                i = i + 1;

            }

            else
            {
        <li data-target="#myCarousel" data-slide-to="@i" class=""></li>
                i = i + 1;

            }



        }
    </ol>
    <div class="carousel-inner" role="listbox">
        @{int j = 0; }
        @foreach (var product in Model)
        {
            if (j == 0)
            {
            <div class="item active">
                <img src="@product.imageUrl" alt="@product.Name" class="img-responsive" />
            </div>
                j = j + 1;
            }
            else
            {
            <div class="item">
                <img src="@product.imageUrl" alt="@product.Name" class="img-responsive" />
            </div>

            }

        }
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<h2>Check out our products!</h2>
@foreach (var product in Model)
{
    <div class="panel">
        <div class="panel-heading">
            <h2>@product.Name</h2>
        </div>
        <div class="panel-body">
            <img class="product-image" src="@product.imageUrl" alt="@product.Name"/>
            <p>@product.Description</p>
        </div>
        <div class="panel-footer">
            <h4>Price: @product.Price</h4>
        </div>
    </div>
}